body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --yellow:hsl(36, 100%, 51%);
  --blue: hsl(228, 66%, 33%);
  --red: hsl(358, 100%, 55%);
  --green: hsl(143, 100%, 33%);
  --purple: hsl(308, 56%, 41%);
}
