:root {
  --yellow:hsla(36, 100%, 51%, 0.81);
  --blue: hsl(228, 66%, 33%);
  --red: hsla(358, 100%, 55%, 0.81);
  --green: hsl(143, 100%, 33%);
  --purple: hsl(308, 56%, 41%);
}

body {
  margin: 0;
  font-family: 'Gotham Black', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.letters {
  font-size: 10rem;
  letter-spacing: -.256em;
}

.letters span:nth-child(5n + 1) {
  color: var(--yellow);
  position: relative;
  z-index: 1;
}

.letters span:nth-child(5n + 2) {
  color: var(--blue);
}

.letters span:nth-child(5n + 3) {
  color: var(--red);
}

.letters span:nth-child(5n + 4) {
  color: var(--green);
  position: relative;
  z-index: 1;
}

.letters span:nth-child(5n + 5) {
  color: var(--purple);
}