:root {
  --yellow:hsl(36, 100%, 51%);
  --blue: hsl(228, 66%, 33%);
  --red: hsl(358, 100%, 55%);
  --green: hsl(143, 100%, 33%);
  --purple: hsl(308, 56%, 41%);
}

body {
  margin: 0;
  font-family: 'Gotham Black', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.letters {
  font-size: 10rem;
  letter-spacing: -.27em;
}
