.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  height: 2.5em;
  padding: .3em;
}

.footer-info {
  font-family: gothamFontLight;
  font-size: .5em;
}

.link-info {
  padding-left: .2em;
}