.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 40px;
}

.logo {
  height: 2.5em;
  padding: .3em;
}

.footer-info {
  font-size: .6em;

}