:root {
  --yellow:hsla(36, 100%, 51%, 0.81);
  --blue: hsl(228, 66%, 33%);
  --blue-backgroud: hsla(228, 66%, 33%, 0.282);
  --red: hsla(359, 83%, 52%, 0.843);
  --green: hsla(131, 52%, 43%, 0.943);
  --green-background: hsla(131, 42%, 42%, 0.355);
  --purple: hsl(308, 56%, 41%);
  --purple-background: hsla(308, 56%, 41%, 0.309);
  --white: rgba(255, 255, 255, 0.934);
}

@font-face {
  font-display: swap;
  font-family: gothamFontBold;
  src: url('./Gotham-Font/GothamBold.ttf');
}

@font-face {
  font-display: swap;
  font-family: gothamFontBlack;
  src: url('./Gotham-Font/Gotham-Black.otf');
}

@font-face { 
  font-display: swap;
  font-family: gothamFontLight;
  src: url('./Gotham-Font/Gotham-Light.otf');
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: gothamFontBlack;
  margin: 0;
}

.input-box {
  align-items: center;
  background-color: var(--purple-background);
  display: flex;
  gap: .3em;
  justify-content: center;
  margin-bottom: 1em;
  padding: 1em;
}

.label {
  color: var(--blue);
}

.input {
  border: 1px var(--blue) solid;
}

.input, .button {
  border-radius: 5px;
  padding: .5em;
}

.button {
  background-color: var(--green);
  border: 1px var(--green-background) solid;
  box-shadow: 1px 3px 5px var(--green-background);
  color: var(--white);
}

.image-logo {
  position: relative;
  left: 75%;
  top: 30px;
  z-index: -1;
}

.letters {
  font-size: 3.5em;
  letter-spacing: -.256em;
  text-align: center;
}

.letters,
.hashtag {
  text-transform: uppercase;
}

.letters span:nth-of-type(5n + 1) {
  color: var(--yellow);
  position: relative;
  z-index: 1;
}

.letters span:nth-of-type(5n + 2) {
  color: var(--blue);
}

.letters span:nth-of-type(5n + 3) {
  color: var(--red);
}

.letters span:nth-of-type(5n + 4) {
  color: var(--green);
  position: relative;
  z-index: 1;
}

.letters span:nth-of-type(5n + 5) {
  color: var(--purple);
}

.small {
  padding: 0 .1em;
}

.space {
  display: inline-block;
  padding: .2em;
}

.box {
  padding-bottom: 2em;
  text-align: center;
}

.hashtag {
  color: var(--purple);
  font-family: gothamFontBold;
  letter-spacing: -.03em;
  margin: 0;
}

@media screen and (min-width: 650px) {
  .letters {
    font-size: 8em;
  }

  /* .main {
    background-image: url('./images/pacto-120px.png');
    padding-top: 5em;
  } */
}

@media screen and (min-width: 1000px) {
  .letters {
    font-size: 9em;
  }

  /* .main {
    background-image: url('./images/pacto-150px.png');
    padding-top: 9em;
  } */
}
