:root {
  --yellow:hsla(36, 100%, 51%, 0.81);
  --blue: hsl(228, 66%, 33%);
  --red: hsla(358, 100%, 55%, 0.817);
  --green: hsla(143, 100%, 33%, 0.872);
  --purple: hsl(308, 56%, 41%);
}

body {
  margin: 0;
  font-family: 'Gotham Black', sans-serif;
  font-size: 1.25em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.letters {
  font-size: 3em;
  letter-spacing: -.256em;
  text-transform: uppercase;
}

.letters span:nth-of-type(5n + 1) {
  color: var(--yellow);
  position: relative;
  z-index: 1;
}

.letters span:nth-of-type(5n + 2) {
  color: var(--blue);
}

.letters span:nth-of-type(5n + 3) {
  color: var(--red);
}

.letters span:nth-of-type(5n + 4) {
  color: var(--green);
  position: relative;
  z-index: 1;
}

.letters span:nth-of-type(5n + 5) {
  color: var(--purple);
}

.small {
  padding: 0 .1em;
}

@media screen and (min-width: 390px) {
  .letters {
    font-size: 7em;
  }
}
