:root {
  --yellow:hsla(36, 100%, 51%, 0.81);
  --blue: hsl(228, 66%, 33%);
  --red: hsla(359, 83%, 52%, 0.843);
  --green: hsla(131, 52%, 43%, 0.943);
  --purple: hsl(308, 56%, 41%);
}

* {
  border: 1px solid magenta ;

}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Gotham Black', sans-serif;
  font-size: 1.25em;
  margin: 0;
  height: 100vh;
}

.letters {
  font-size: 2.5em;
  letter-spacing: -.256em;
  text-transform: uppercase;
  min-height: 65vh;
  margin: .5em;
}

.letters span:nth-of-type(5n + 1) {
  color: var(--yellow);
  position: relative;
  z-index: 1;
}

.letters span:nth-of-type(5n + 2) {
  color: var(--blue);
}

.letters span:nth-of-type(5n + 3) {
  color: var(--red);
}

.letters span:nth-of-type(5n + 4) {
  color: var(--green);
  position: relative;
  z-index: 1;
}

.letters span:nth-of-type(5n + 5) {
  color: var(--purple);
}

.small {
  padding: 0 .1em;
}

@media screen and (min-width: 390px) {
  .letters {
    font-size: 7em;
  }
}
